!!! 5
%html
  %head
    %title Network Awesome URLList
    %link{:href => 'css/app.css', :rel => "stylesheet", :type => "text/css"}
  %body
    %h1 Network Awesome URLList
    - @shows.each do |show|
      %h2
        %a{:href => '#' + show.id, :name => show.id} #{show.name}
      = show2img(show)
    %script{:type => "text/javascript",
            :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:type => "text/javascript",
            :src  => "js/app.js"}
